/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
    max-width: 1024px;
    margin: 0 auto;
    }
    .header{
        background: #424242;
        height: 300px;
        img{
            max-width: 117px;
            max-height: 117px;
            float: left;
            margin: 85px 130px;
        }   
    }
    .headertext{
        float: left;
        margin:70px 30px 50px 0;
        input{
            background: rgba(255,255,255,0.18);
            border: 2px solid #FFD366;
            border-radius: 10px;
            font-family: "微軟正黑體";
            font-size: 24px;
            color: rgba(255,255,255,0.5);
            max-width: 250px;
            max-height: 40px;
        }
        label{
            float: left;
            font-size: 18px;
            color: #FFD366;
            margin-bottom: 5px;
        }
          }
          .btn{
            float: left;
            margin:90px 80px;
          }
        .btnr{
        background: #FFD366;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: none;
        font-family: "微軟正黑體";
        font-size: 24px;
        cursor: pointer;
       }
       .btnr:hover{
        box-shadow: 0 1px 6px 3px rgba(255,196,50,0.64) ;
    }

    .BMIhistory{
        background:rgb(233, 229, 229);
        h1{
            text-align: center;
            padding-top: 10px;
            font-family: SFNSDisplay;
            font-size: 24px;
            color: #424242;
        }
        input{
           float: center;
           margin: 20px 460px;
           background: rgba(255,255,255,0.18);
           border-radius: 10px;
        }
        input:hover{
            cursor: pointer;
        }
    }
    .footer{
        background: #FFD366;
        img{
            max-width: 117px;
            max-height: 117px;
            color: #000;
            margin: 0 470px;
          
        }
    }
    @media (max-width:945px){
        .header img{
                margin: 85px; 
        }
        .headertext{
            margin:70px 0 0 -10px;
              }
              .btn{
                margin:90px 40px;
              }
              .BMIhistory input{
                  margin: 0 330px;
              }
    }
    @media(max-width:767px){
        .header img{
            display: none;
        }
        .headertext{
            float: none;
            margin:0;
            padding: 5% 25%;
            label{
                float: none;
              }
            }
              .btn{
                float: none;
                margin:0 0 20% 0;
                padding: 0 25%;
              }
              .footer img{
                margin: 0 40%;
              }
            
    }
    @media(max-width:576px){
       .headertext{
            padding: 3% 20%;
        } 
        .BMIhistory input{
            margin: 0 155px;
        }
    }
    @media(max-width:411px){
        .headertext{
            padding: 3% 12%;
        } 
        .BMIhistory input{
             margin: 0 130px;
         }
     }
     @media(max-width:360px){
        .headertext{
            padding: 3% 10%;
        }
        .BMIhistory input{
             margin: 0 100px;
         }
     }
    
    .clearfix{
        clear: both;
    }